/* 
  Body
 */

body {
    margin: 0px;
    padding-top: 70px;
    background-color: #7e8d00;
    background: linear-gradient(to top, #faff00, #d1d900);
    overflow-x: hidden;
}


/* 
   Texto
*/

h1 {
    color: white;
    font-family: cursive;
    font-size: 70px;
    margin-bottom: 15px;
}

h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

p {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    width: fit-content;
    margin: 0 auto;
}

dl {
    color: white;
}


/* 
   LINKS
*/

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px;
    width: fit-content;
}
a:hover {
    font-weight: bold;
    color: rgb(255, 0, 0);
}

/* 
   IMAGENS
*/

img {
    border-radius: 7%;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}


/* 
   CARD PRINCIPAL
*/
.card{
    background-color: rgb(158, 15, 15);

}
    .card h1{
            color: red;
        }
    
    .card


/* 
   BOTÕES
*/

button {
    color: rgb(0, 0, 0);
}


/* 
   NAV
*/

nav{
    
    background: linear-gradient(to top, #ad2121, #640d0d);
}

/* links */
nav .link {
    color: white;
}

/* hover bonito */
nav .nav-link:hover {
    color: #ff4d4d;
}

/* 
   HOME
*/

#home h1 {
    font-size: 35px;
}

#home p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}


/* 
   SEÇÃO SUPLEMENTOS
*/

#suplementos {
    text-align: center;
}



    /* 
    Catálogo
    */

    .container-hover-img {

        position: relative;
        width: 400px;
        height: 400px;
         margin: 30px auto;
        overflow: visible;
        border-radius: 10px;
    }
    
    .texto-produto {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    }
        .texto-produto h2{
            color: rgb(255, 255, 255);
        }

        .container-hover-img:hover .texto-produto{
            transform: translate(-250%, -50%);
        }

    .container-hover-img img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: contain;
        transition: transform 0.5s ease-in-out;
    }



    .suplementos-container {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 30px 0;
        flex-direction: column;
        
    }
    
    .img-fundo {
        z-index: 1;
        width: 100%;
        height: auto;
        }

    .img-topo {
        z-index: 2;
    }

    .container-hover-img:hover .img-topo {
        transform: translateX(100%);
    }
    .container-hover-img:hover .btn-zoom{
    opacity: 1;           
    }

    .tabela-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content; 
        height: fit-content;
    }
        .tabela-area .img-fundo {
            position: relative ; 
            max-width: 400px;
            max-height: 400px;
            width: auto;
            height: auto;
            display: block; 
        }
        .btn-zoom{
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 10;
            border: none;
            background: transparent;
            cursor: pointer;
            opacity: 0;           
            transition: opacity 0.3s ease;
                   
        
        }
            .btn-zoom img {
                width: 25px ;
                height: 25px ;
                position: static ; 
            }

/* 
   SEÇÃO COMPARAR
*/

.secao-comparar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 60px 20px;
    color: white;
    width: 100%;
}

.container-comparacao {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 40px;
    margin: 30px 0;
    flex-wrap: wrap;

    align-items: center;
}

.container-comparacao h2 {
    text-align: center;
    font-size: 90px;
    margin-bottom: 40px;
}


table {
  width: 100%;         
  border-collapse: collapse; 
  margin: 20px ;         
  font-family: Arial, sans-serif;
}

table th, table td {
  border: 1px solid #2c2525;  
  padding: 12px;        
  text-align: left;      
}

table th {
  font-weight: bold;
}

table tr:hover {
  background-color: #00000042;
}

/* 
   SELECTS
*/

.box-select {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.box-select label {
    margin-bottom: 10px;
    font-size: 40px;
    color: rgb(255, 60, 0);
}

.box-select select {
    padding: 10px;
    width: 220px;

    border-radius: 8px;
    border: none;

    font-size: 16px;
}


/* 
   BOTÃO COMPARAR
*/

.btn-comparar {
    padding: 12px 30px;
    font-size: 18px;

    border-radius: 8px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}

.btn-comparar:hover {
    background-color: red;
    color: white;
}

/* 
   Video
*/

.intro{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

/* Configuração da caixa do formulário */
    .contato h2{
        color: black;
        display: flex;
        justify-content: center;
    }
    .contato {
        max-width: 400px;
        margin: 40px auto;
        padding: 30px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contato input, 
    .contato textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px; 
        border: 1.5px solid #e1e1e1;
        border-radius: 6px;
        box-sizing: border-box; 
        font-size: 15px;
        transition: border-color 0.4s ease;
    }

    .contato button {
        width: 100%;
        padding: 12px;
        background-color: #4A90E2;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .contato button:hover {
        background-color: #0b5daf;
    }

/*
   Rodapé
*/

footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}